body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.method {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    box-sizing: border-box;

}

.method h2 {
    color: #e91e63;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .method {
        width: 100%;
    }
}

